In [9]:
import pandas as pd

from collections import Counter
from tqdm import tqdm_notebook

from litecoder import twitter_usa_city_state

from frontline.db import session
from frontline.models import Tweet

In [2]:
locs = [r for r, in session.query(Tweet.actor_location) if r]

In [3]:
len(locs)

24007

In [6]:
city_counts = Counter()
state_counts = Counter()

for loc in tqdm_notebook(locs):
    
    city, state = twitter_usa_city_state(loc)
    
    if city:
        city_counts[city] += 1
        
    if state:
        state_counts[state] += 1

HBox(children=(IntProgress(value=0, max=24007), HTML(value='')))

In [22]:
data = []
for city, count in city_counts.items():
    data.append((city.name, city.admin1_code, city.population, city.latitude, city.longitude, count))
    
cities = pd.DataFrame(data, columns=('city', 'state', 'pop', 'latitude', 'longitude', 'count'))

cities['count_pop'] = cities['count'] / cities['pop']

In [23]:
cities.sort_values('count', ascending=False).head(20)

              city state      pop  latitude  longitude  count  count_pop
16         Chicago    IL  2720546  41.85003  -87.65005    456   0.000168
42   San Francisco    CA   864816  37.77493 -122.41942    453   0.000524
7      Los Angeles    CA  3971883  34.05223 -118.24368    450   0.000113
13          Boston    MA   667137  42.35843  -71.05977    327   0.000490
30         Seattle    WA   684451  47.60621 -122.33207    269   0.000393
0         Brooklyn    NY  2300664  40.65010  -73.94958    221   0.000096
46       San Diego    CA  1394928  32.71533 -117.15726    179   0.000128
37   New York City    NY  8175133  40.71427  -74.00597    171   0.000021
1          Atlanta    GA   463878  33.74900  -84.38798    153   0.000330
73         Houston    TX  2296224  29.76328  -95.36327    147   0.000064
6           Austin    TX   931830  30.26715  -97.74306    143   0.000153
78           Miami    FL   441003  25.77427  -80.19366    126   0.000286
31         Wichita    KS   389965  37.69224  -97.33754    123   0.000315
119       Portland    OR   632309  45.52345 -122.67621    114   0.000180
109   Philadelphia    PA  1567442  39.95233  -75.16379    106   0.000068
141         Denver    CO   682545  39.73915 -104.98470     83   0.000122
124     Sacramento    CA   490712  38.58157 -121.49440     82   0.000167
15        Columbus    OH   850106  39.96118  -82.99879     78   0.000092
650     Wilmington    NC   115933  34.22573  -77.94471     78   0.000673
23          Dallas    TX  1300092  32.78306  -96.80667     78   0.000060

In [24]:
cities[cities['pop'] > 1e5].sort_values('count_pop', ascending=False).head(20)

                city state     pop  latitude  longitude  count  count_pop
650       Wilmington    NC  115933  34.22573  -77.94471     78   0.000673
42     San Francisco    CA  864816  37.77493 -122.41942    453   0.000524
34          Berkeley    CA  120972  37.87159 -122.27275     61   0.000504
13            Boston    MA  667137  42.35843  -71.05977    327   0.000490
71      Murfreesboro    TN  126118  35.84562  -86.39027     56   0.000444
30           Seattle    WA  684451  47.60621 -122.33207    269   0.000393
1            Atlanta    GA  463878  33.74900  -84.38798    153   0.000330
31           Wichita    KS  389965  37.69224  -97.33754    123   0.000315
19         Arlington    VA  207627  38.88101  -77.10428     64   0.000308
78             Miami    FL  441003  25.77427  -80.19366    126   0.000286
145       Chesapeake    VA  235429  36.81904  -76.27494     62   0.000263
351  West Palm Beach    FL  106779  26.71534  -80.05337     28   0.000262
62         Cambridge    MA  110402  42.37510  -71.10561     28   0.000254
158            Boise    ID  145987  43.61350 -116.20345     33   0.000226
3         Pittsburgh    PA  304391  40.44062  -79.99589     63   0.000207
85        Cincinnati    OH  296943  39.12711  -84.51439     59   0.000199
333        Ann Arbor    MI  117070  42.27756  -83.74088     23   0.000196
111        St. Louis    MO  315685  38.62727  -90.19789     58   0.000184
119         Portland    OR  632309  45.52345 -122.67621    114   0.000180
48       Minneapolis    MN  410939  44.97997  -93.26384     74   0.000180

In [26]:
cities.to_csv('cities.csv')

In [29]:
state_pops = pd.read_csv('state-pops.csv')

In [38]:
data = []
for state, count in state_counts.items():
    pop = int(state_pops[state_pops['state'] == state.name]['pop_est_2014'])
    data.append((state.name, pop, count))
    
states = pd.DataFrame(data, columns=('state', 'pop', 'count'))

states['count_pop'] = states['count'] / states['pop']

In [39]:
states

                   state       pop  count  count_pop
0               New York  19746227    844   0.000043
1           Pennsylvania  12787209    420   0.000033
2                Georgia  10097343    277   0.000027
3              Tennessee   6549352    209   0.000032
4               Illinois  12880580    619   0.000048
5         North Carolina   9943964    408   0.000041
6               Maryland   5976407    194   0.000032
7              Louisiana   4649676    164   0.000035
8                  Texas  26956958    899   0.000033
9             California  38802500   2590   0.000067
10              Colorado   5355866    266   0.000050
11              Michigan   9909877    320   0.000032
12                 Idaho   1634464     70   0.000043
13              Virginia   8326289    300   0.000036
14               Florida  19893297    692   0.000035
15         Massachusetts   6745408    661   0.000098
16                  Ohio  11594163    400   0.000035
17  District of Columbia    658893     47   0.000071
18               Arizona   6731484    356   0.000053
19            Washington   7061530    563   0.000080
20           Connecticut   3596677    127   0.000035
21               Montana   1023579     53   0.000052
22              Arkansas   2966369     36   0.000012
23             Wisconsin   5757564    176   0.000031
24                Kansas   2904021    191   0.000066
25              Kentucky   4413457    112   0.000025
26            New Mexico   2085572     69   0.000033
27              Nebraska   1881503     67   0.000036
28                  Utah   2942902     75   0.000025
29               Alabama   4849377    103   0.000021
30             Minnesota   5457173    195   0.000036
31              Oklahoma   3878051    108   0.000028
32               Indiana   6596855    188   0.000028
33                  Iowa   3107126     69   0.000022
34          Rhode Island   1055173     38   0.000036
35         New Hampshire   1326813     17   0.000013
36               Wyoming    584153     24   0.000041
37              Missouri   6063589    206   0.000034
38            New Jersey   8938175    206   0.000023
39        South Carolina   4832482     82   0.000017
40                Oregon   3970239    320   0.000081
41                Hawaii   1419561     76   0.000054
42                Alaska    736732     50   0.000068
43              Delaware    935614     37   0.000040
44                Nevada   2839099    105   0.000037
45           Mississippi   2994079     48   0.000016
46                 Maine   1330089     79   0.000059
47               Vermont    626562     30   0.000048
48          North Dakota    739482      5   0.000007
49         West Virginia   1850326     10   0.000005
50          South Dakota    853175     16   0.000019